.App {
  text-align: center;
}
.image_background{
  background-image: url("./images/fondo.jpg");
  height: 50vh;
  background-size: cover cover;
  background-position: center center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.all_container{
  background-color: #fff;
  margin-top: -250px;
  min-height: 80vh;
   border: 1px solid black;
  border-radius: 5px;
}
.profile_photo{
 width: 150px;
 height: 150px;
 overflow: hidden;
 border-radius: 50%;
text-align: center;
margin-top: 13%;
margin-left: 13%;
}
.profile_photo img{
  height: 180px;
  transform: translateX(-38px);
  margin-top: -20px;
}

.profile_info{
 padding: 4.5vh;
}

.profile_description{
  font-size: 20px;
  padding: 2vh;
  text-align: justify;
}
.profile_info h4{
  color: #4F908B;
}
.skill_container{
  text-align: center;
  padding: 5em;
  float: left;
  align-content: center;
}
.skill_container img {
  width: 100px;
  height: 100px;
}
.contact_container div{
  text-align: center;
  margin-left: 0;
    align-items: center;
    padding: 1em;
    margin: 15px;
}
.contact_container{
  text-align: center;
  color: #5DC1B9;
}
.projects_container{
  display: flex;
  overflow-x: auto;
  align-items: center;   height: 70vh;
  padding: 1em;
}
.card_container {
  margin-right: 30px;
}

.projects_container::-webkit-scrollbar-track {
  background: #ddd; 
}

.projects_container::-webkit-scrollbar {
  width: 10px;
}
 
.projects_container::-webkit-scrollbar-thumb {
  background: #4F908B; 
  border-radius: 20px;
}
.linksNavbar li{
  list-style: none;
  display: flex;
}
.linksNavbar ol{
  padding: 0;
  margin-left: 10px;
}
.linksNavbar a{
  color: #5DC1B9;
}
.linksNavbar a:hover{
  color: #4F908B;
}
.linksProjects a:hover{
  color: #4F908B;
}
.linksProjects{
  text-align: center;
}
.linksProjects a{
margin: 3vh;
color: #5DC1B9;
}
.imgProjects{
  width: 100%;
  height: 25vh;
}


.desktop{
  display: initial;
}
.mobile{
  display: none;
}
/**/
@media(max-width: 1300px){
  .all_container{
    margin-top: -520px;
  }
  .profile_photo{
    margin-left: 30%;
    margin-top: 30%;
  }
}

 
@media(max-width: 900px){
  .all_container{
    margin-top: -360px;
  }
  .profile_photo{
    margin-left: 30%;
    margin-top: 30%;
  }
  .aboutMe_container{
    padding: 1em;
  }
  
    .profile_info h1{
      font-size: 2rem;
    }
    .profile_info h4{
      font-size: 1.5rem;
    }
    .profile_info{
      margin-top: 8%;
    }
  
    .profile_description{
     
      padding: 5vh;
      font-size: 18px;
    }
}






@media(max-width: 767px){
  .all_container{
    margin-top: -260px;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: initial;
  }
  .skill_container img {
    width: 80px;
    height: 80px;
  }
  .profile_photo{
    width: 120px;
    height: 120px;
    margin: auto;
  }
  .profile_photo img{
    height: 140px;
  }
    .profile_info h1{
      font-size: 2rem;
    }
    .profile_info h4{
      font-size: 1.5rem;
    }
  
    .profile_description{
      margin-top: -20px;
    padding: 1.5vh;
    font-size: 16px;
    align-content: center;
   
    }
  
}




/*500px*/

@media screen and (max-width: 500px) and (min-width: 431px){
  .all_container{
    margin-top: -260px;
  }
  .aboutMe_container{
    display: contents;
  }
  .profile_info h1{
    font-size: 2rem;
  }
  .profile_info h4{
    font-size: 1.5rem;
  }

  .profile_description{
    padding: 2vh;

  }
  .skill_container img {
    width: 80px;
    height: 80px;
  }
  .profile_photo{
    margin-top: 15px;
  }
}










@media screen and (max-width: 430px) and (min-width: 381px){
  .all_container{
    margin-top: -275px;
  }
  .profile_info h1{
    font-size: 1.4rem;
  }
  .profile_info h4{
    font-size: 1rem;
  }
  .skill_container img {
    width: 70px;
    height: 70px;
  }
  .profile_photo{
    margin-top: -5vh;  }
    .profile_description{
      margin-top: auto;
    }
}




/*celulares medianos*/
@media screen and (max-width: 380px) and (min-width: 330px){
  .all_container{
    margin-top: -275px;
  }
  .profile_info h1{
    font-size: 1.3rem;
  }
.profile_info h4{
  font-size: .9rem;
}
  .profile_description{
    margin-top: 0px;
    padding: .5vh;
    font-size: 15px;

  }
  .skill_container img {
    width: 65px;
    height: 65px;
  }
  .profile_photo{
    width: 110px;
    height: 110px;
    margin-top: -5vh;
  }
  
}
/*celulares pequeños*/
@media screen and (max-width:320px){
  .profile_photo{
    margin-top: -5vh;
  }
  .profile_info h1{
    font-size: 1rem;
  }
  .profile_info h4{
    font-size: .7rem;
  }

  .profile_description{
    margin-top: 0px;
    padding: .5vh;
    font-size: 12px
  }
  .all_container{
    margin-top: -270px;
  }
    .skill_container img {
      width: 60px;
      height: 60px;
  }
}